<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Messages</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let message of messages">
      <ion-label><small>{{message.status}}</small></ion-label>
      <p><small>{{message.message}}</small></p>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)="sendMessage()">Send Message</ion-button>
  </ion-toolbar>
</ion-footer>
